form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    margin: auto;
    text-align: center;
    color: white;
    border: 1px solid white;
   
}

.EmailBox {
    margin: auto;
padding-bottom: 20px;
    
}

.CheckBox {
    margin: auto;

}

body {
    background: black;
}