body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://i.pinimg.com/originals/af/bc/7b/afbc7bd1256e4c6b2fba2de4e821b2a3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 90vw;
  height: 100vh;
  
}
/* What kind of selector is this? */
.logo {
  width: 250px;
  height: 200px;
  margin: 3% 10%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

main {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

/* This is an element within and element selector */ 
nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  
}
.has-color1 {
  background-color: rgb(124, 181, 228);
  margin: 20%, auto;
}

.has-color2 {
  background-color:tan;
}

.has-color3 {
  background-color: gray;
}


.has-color4 {
  border-radius: 25px;
  background-color: rgb(230, 86, 86);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}
/* This is an ID selector */
#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 15% auto;
  grid-column: 1/3;
}

h1 {
  color: black;
  grid-column: 1/3;
  margin: -12% auto;
  
}

h2 {
  grid-column: 1/3;
  margin: -9% auto;
  font-style: italic;
}

.small-text {
  grid-column: 2/3;
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin: 5% auto;
}

button {
  grid-column: 1/3;
  margin: -3% auto;
  width: 30%;
  height: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  padding-bottom: 5%;
  text-align: center;
  color: black;
  letter-spacing: 14;
  font-style: italic;
  background-color: blanchedalmond;
}


@media (max-width: 576px) {
  nav {
    display:flex;
    flex-direction: column;
  }
